.sub-header.solitary-header.clearfix
  .button-bar.clearfix
    -#= render :partial => 'search'
    .admin-links
      = link_to 'all Posts', dust_posts_path, :class => 'border'
      = link_to "delete post", @post, :confirm => 'Are you sure?', :method => :delete

.form-wrap.clearfix

  = simple_form_for @post, :html => {:multipart => true} do |f|
    = f.error_messages

    .fields
      .sub-header.clearfix
        .title Post Fields
      .content-wrapper
        = f.input :published
        = f.input :title
        = f.input :file, :as => :file
        = f.input :published_date, :as => :string
        = f.input :share
        = f.input :share_type

      .sub-header
        .title Menu Item
      .content-wrapper
        = f.input :active, :as => :boolean, :label => "Show in Menu"
        = f.input :menu, :collection => Dust::Menu.all.map{ |m| [m.title, m.id] }
        = f.input :nav_link, :label => "Name, navigation link"
        = f.input :filename, :label => "Filename, Found In The Url"

    .content-areas
      .sub-header.clearfix
        .title Post Body
      .content-wrapper
        = f.cktext_area("body", :width => '100%', :height => '400px')
        .actions
          = f.button :submit
