- title @post.title
- description @post.description

- content_for :admin do
  = render :partial => 'front_end/posts/admin'

= render_region "content-default", "post-body" do
  .twelve.columns
    %h1= @post.title
  .five.columns
    = raw @post.body
  .seven.columns
    = image_tag @post.file.url

