.login-content
  #header-wrap.clearfix
    .header-inner.clearfix
      %h1 Log in
  = simple_form_for @session do |f|
    = f.error_messages(:header_message => "Unable to login!", :message => "Please try again.")
    .sub-header
      .button-bar.clearfix
        .admin-links
          = link_to 'Back to site', root_url
    .content-wrapper
      = f.input :username
      = f.input :password
      = f.input :remember_me, :as => 'boolean'
      .actions= f.submit "Login"
  #footer-wrap
    #footer
      dust cms 
