.full-fields
  .sub-header
    .title Role Fields
  .content-wrapper
    = form_for @role do |f|
      = f.error_messages
      .item
        = f.label :name
        = f.text_field :name, :class => "field"
      .item
        = f.submit
