.solitary-header.sub-header.clearfix
  .button-bar.clearfix
    = render :partial => 'search'
    .admin-links
      = link_to 'all contacts', dust_contacts_path, :class => 'border'
      = link_to "delete contact", @contact, :confirm => 'Are you sure?', :method => :delete

.form-wrap.clearfix
  = form_for @contact, :validate => true, :html => { :multipart => true } do |f|
    = f.error_messages

    .fields
      .sub-header
        .title contact fields
      .content-wrapper
        .item
          = f.label :name
          %br/
          = f.text_field :name, :class => 'field'
        .item
          = f.label :email
          %br/
          = f.text_field :email, :class => 'field'
        .item
          = f.label :phone
          %br/
          = f.text_field :phone, :class => 'field'

    .content-areas
      .sub-header
        .title contact content
      .content-wrapper
        .item
          = f.label :message
          %br/
          = f.text_area :message, :class => 'field', :style => "height:128px;"
        .item= f.submit "Submit"
