- title "Contact Requests"

.sub-header
  .button-bar.clearfix
    = render :partial => 'search'
    .admin-links
      = link_to 'new contact', new_dust_contact_path, :class => 'border tip', :title => "New Contact Form"
      = link_to "download", dust_download_csv_path, :class => "batch tip", :title => "Downlaod a CSV of all <br /> the past contact requests."

.content-wrapper
  = will_paginate @contacts
  - @contacts.each do |contact|
    .index-item
      .ui-widget.ui-helper-clearfix{:style => "float:right"}
        = link_to "", contact, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
      = link_to contact.name, edit_dust_contact_path(contact)
  = will_paginate @contacts
