
- title @album.title
- description @album.description

- content_for :admin do
  = render 'front_end/gallery/admin'

= render_region "interior-content" do
  .block.columns.twelve
    .block-content
      %h1= @album.title
      - unless @album.description.blank?
        %p= @album.description

= render_region "album-photos" do
  - @album.photos.each do |photo|
    .block.columns.two
      = image_tag photo.filename.url(:thumb)


