.block{ :id => "#{block.title.parameterize}", :class => "#{block.final_classes}" }
  .block-inner
    .block-content
      - if !block.partial_name.blank?
        - begin
          = render block.partial_name, :block => block
        - rescue => e
          - Rails.logger.info "\n\t[# BLOCK ERROR]"
          - Rails.logger.info "\t\t#{e}"
          - Rails.logger.info "\t[/ BLOCK ERROR]\n"
          - if logged_in?
            Error: Content not found or malfunctioning. Please notify the site administrator.
          - else
            &nbsp;
      - else
        = render "dust/blocks/normal_block_content", :block => block
      - if permitted_to? :manage, :blocks
        .edit-link
          = link_to edit_icon("Block <br/>'#{block.title}'"), edit_dust_block_path(block, :return => request.fullpath), :class => "to-admin"
          = link_to delete_icon("Delete <br/>'#{block.title}'"), dust_block_path(block, :return => request.fullpath), :class => "to-admin", :confirm => "Are you sure?", :method => :delete
