.solitary-header.sub-header.clearfix
  .button-bar.clearfix
    = render :partial => 'search'
    .admin-links
      = link_to 'all blocks', dust_blocks_path, :class => 'border', :title => "All Blocks"
      = link_to "delete block", @block, :confirm => 'Are you sure?', :method => :delete

.form-wrap.clearfix

  -# custom page variables
  - @block.where_to_show.blank? ? selected = 'content' : selected = @block.where_to_show
  - @block.classes.blank? ? css_classes = 'twelve columns' : css_classes = @block.classes

  = simple_form_for @block, :validations => true do |f|
    = hidden_field_tag :return, params[:return]
    = f.error_messages
    .fields
      .sub-header
        .title block fields
      .content-wrapper
        .item.block_title
          = f.input :title
        - if permitted_to? :manage, :blocks
          = f.input :partial_name, :collection => Dust::Block.widget_list, :label => "Widget"

        = f.input :column_span, :collection => Dust::Block.grid.columns, :label => "Column Span Width", input_html: { value: css_classes }
        = f.input :column_offset, :collection => Dust::Block.grid.offsets, :label => "Column Offset Width"

        - if permitted_to? :manage, :blocks
          = f.input :classes

        = f.input :weight, :class => 'field'
        = f.input :where_to_show, :collection => Dust::Block.regions, :label => "Where should I show up?"

        %strong= f.label :show,"What pages is this block visible on."
        %br/
        List Urls of pages this block should show up on, one per Line. 
        %br/
        %em If this area is blank the block will be visible on all pages.
        = f.text_area :show, :class => 'field'

    .content-areas
      .sub-header
        .title block content
      .content-wrapper
        .item
          = f.cktext_area("body", :width => '100%', :height => '400px')
        .item
          .right= f.submit
        .clear
