- title "All Pages"

.sub-header
  .button-bar.clearfix
    = render :partial => 'search'
    .admin-links
      = link_to 'new page', new_dust_page_path, :class => '', :title => "New Page"

.content-wrapper
  = will_paginate @pages
  - @pages.each do |page|
    .index-item
      .list-links.clearfix{:style => "float:right"}
        = link_to "", page, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy tip', :title => "Destroy This Item"
      = link_to page.meta_title, edit_dust_page_path(page)
  = will_paginate @pages
