- title "Menu Items"

.sub-header
  .button-bar.clearfix
    = render :partial => 'search'
    .admin-links
      = link_to 'reorder menu', dust_menu_manage_path, :class => 'batch tip border', :title => "Manage Menu Items"
      = link_to 'new menu item', new_dust_menu_item_path, :class => 'newfile tip', :title => "New Menu Item"

.content-wrapper
  = will_paginate @menu_items

  - @menu_items.each do |menu_item|
    .index-item
      .clearfix{:style => "float:right"}
        = link_to "", menu_item, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
      = link_to menu_item.title.capitalize, edit_dust_menu_item_path(menu_item), :class => ' edit tip', :title => "Edit This Item"

  = will_paginate @menu_items
