!!!
%html
  %head
    %title= h(yield(:title) || "Dust CMS")

    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,minimum-scale=1,maximum-scale=1", :name => "viewport"}/
    %meta{:content => "width", :name => "MobileOptimized"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/

    = stylesheet_link_tag 'cms'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'cms'
    = csrf_meta_tag
    = yield(:head)
  %body
    #nav
      .section-wrap
        .item.section
          .mega-icon.global
          .label
            Admin
        %ul.sub-nav.global-nav
          %li.item.link
            = link_to 'Home', root_url
          %li.item.link
            = link_to 'Dashboard', dust_dashboard_path
          %li.item.link
            = link_to "Log Out", dust_logout_path
      .section-wrap
        .item.section
          .mega-icon.settings
          .label
            Settings
        %ul.sub-nav.settings-nav
          = render :partial => 'layouts/cms_partials/nav'
      = yield(:right)
    .main-wrap
      .wrapper
        #header-wrap.clearfix
          .header-inner.clearfix
            - if show_title?
              %h1= h yield(:title)
            .header-content.clearfix
              = yield(:header)
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "flash_#{name}"
        = yield
        #footer-wrap
          #footer
            dust cms 
