!!! 5
%html{ :class => content_classes }
  %head
    %title= h(yield(:title) || @site_data.site_info.site_url)
    %meta{:content => (yield(:description) || @site_data.site_info.default_description), :name => "description"}/
    = stylesheet_link_tag 'front_end', 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    #container
      = render_region 'header-one'
      = render_region 'header-two'
      = render_region 'slider'
      = render_region 'callouts'
      = yield
      = render_region 'footer-one'
      = render_region 'footer-two'
      = render :partial => 'dust/users/user_bar'
      = yield :admin

  = javascript_include_tag 'front_end', 'application'
  = yield(:js)
  = render :partial => 'layouts/app_partials/analytics'
